#!/usr/bin/env python
# -*- coding: utf-8 -*-

#######################################################################
#                                   _           _____
#                                  / |_        / ___ `.
#  _ .--.   _   __  .--.    _   __`| |-'.---. |_/___) |
# [ '/'`\ \[ \ [  ]( (`\]  [ \ [  ]| | / /__\\ .'____.'
# | \__/ | \ '/ /  `'.'.   \ '/ / | |,| \__.,/ /_____
# | ;.__/[\_:  /  [\__) )[\_:  /  \__/ '.__.'|_______|
# [__|     \__.'           \__.'
#
# secret keys
#
#######################################################################

CSRF_SECRET_KEY = 'any_random_string'
SESSION_KEY = 'any_random_string'

# randomly generated key, nothing to do with gae user
USER_KEY = 'any_random_string'

TW_CONSUMER_KEY = 'twitter consumer key'
TW_CONSUMER_SECRET = 'twitter consumer secret'
TW_TOKEN = 'twitter own token'
TW_TOKEN_SECRET = 'twitter own token-secret'
